/Persona.class
/TestPersona.class
/Auto.class
/TestAuto.class
/Producto.class
/TestProducto.class
/Calculadora.class
/TestCalculadora.class
/Mensajeria.class
/TestMensajeria.class
/Rectangulo.class
/TestRectangulo.class
